<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Blog</title>
<!--<link rel="stylesheet" href="/stylesheets/style.css">-->
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
<link rel="stylesheet" href="/stylesheets/mycss.css" />
<script type="text/javascript" src="/javascript/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/javascript/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascript/holder.js"></script>
<script type="text/javascript" src="/javascript/login.js"></script>
</head>
<body>
<div class="navbar-wrapper">
      <div class="container">

      <!-- Static navbar -->
      <div id="top-nav" class="navbar navbar-inverse">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">主页</a></li>
            <li><a href="/archive">存档</a></li>
            <li><a href="/tags">标签</a></li>
            <li><a href="/links">友链</a></li>
            <% if (user && user.admin) { %>
            	<li><a href="/upload">上传</a></li>
            <% } %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">用户操作<b class="caret"></b></a>
              <ul class="dropdown-menu">
              	<% if (user) { %>
              	  <li><a href="/post">发表</a></li>
                  <li><a href="/logout">登出</a></li>
              	<% } else { %>
              	  <li><a href="/login">登录</a></li>
                  <li><a href="/reg">注册</a></li>
              	<% } %>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div> <!-- /container -->
    </div>

<!--<span><form action="/search" method="GET"><input type="text" name="keyword" placeholder="SEARCH" class="search" /></form></span>-->

<article>

<% if (success) { %>
  <div><%= success %></div>
<% } %>
<% if (error) { %>
  <div><%= error %> </div>
<% } %>